<h1>About</h1>
<p>
  The <a href="http://www.diguage.com/"><em>Ruby on Rails Tutorial</em></a> is a
  <a href="http://www.diguage.com/">book</a> and
  <a href="http://www.diguage.com/">screencast series</a>
  to teach web development with
  <a href="http://www.diguage.com/">Ruby on Rails</a>.
  This is the sample application for the tutorial.
</p>